html,body{
	height:100%;
	overflow:hidden;
}

ul{
	list-style-type: none;
	padding:0;	
}

 .username-page-container {
    background: #fff;
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
    border-radius: 2px;
    width: 100%;
    max-width: 500px;
    display: inline-block;
    margin-top: 42px;
    vertical-align: middle;
    position: relative;
    padding: 35px 55px 35px;
    min-height: 250px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: -160px;
} 

.username-submit {
    margin-top: 10px;
} 


.room-selection-page-container {
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
    margin-top: 2em;
    height: 92%;
    padding-top:1em;
    padding-bottom:1em;
    
}

.roomList-Container{
	overflow-y:auto;
	height:92%;
	border: 1px solid #ccc;
	margin-top: 1em;
    margin-left: 4em;
    margin-right: 4em;
}
.roomList{
	margin-top:0.5em;
	margin-left:2em;
	margin-right:2em;
}

.roomButton{
	margin:0.3em;
	white-space:pre-line;
}

#chat-page {
    padding-bottom:4em;
} 

.chat-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    height: 100%;
}


.chat-panel{
	height:100%;
	box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
	border-radius:0;
	display: flex;
    flex-direction: column;
}

.backToRoomButton{
	margin-top:20px;
	float:right;	
	white-space:nowrap;
	display:inline-block;
}

.chat-header{
	font-size:30px;
	margin-top: 20px;
    margin-bottom: 10px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    display:inline-block;
}

.chat-panel-body{
    display: flex;
    flex: 1;
}

.chat-panel-footer{
	padding:0;
    position: sticky;
    bottom: 3.9%;
}

#messageArea{
	height:100%;
	overflow-y:auto;
    display: flex;
    flex-direction: column;
    flex: 1;
}


#messageForm {
    padding: 20px;
}

.ChatPage--EventMessage{
    color: #777;
    font-size: 18px;
    word-wrap: break-word;
    margin:0;
}

 .ChatPage--AvatarIcon{
	position: absolute;
    width: 42px;
    height: 42px;
    overflow: hidden;
    left: 10px;
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    line-height: 42px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font-style: normal;
    text-transform: uppercase;
    margin-top:-6px;
} 

.ChatPage--Username{
    color: #333;
    font-weight: 600;
}

.ChatPage--Message{
    color: #43464b;
    margin:0;  
}

.ChatPage--InnerContentContainer{
	display: inline-block;
    vertical-align: top;
    
    width: calc(100% - 80px);
}

.ChatPage--MessageTime{
	float:right;
	display: inline-block;
    vertical-align: top;
}

.ChatPage--MessageContainer{
	line-height: 1.5rem;
    padding: 10px 20px;
    margin: 0;
    border-bottom: 1px solid #f4f4f4;
    padding-left: 68px;
    position: relative;
}

.ChatPage--EventMessageContainer{
	line-height: 1.5rem;
    padding: 10px 20px;
    margin: 0;
    border-bottom: 1px solid #f4f4f4;
}

.chat-sendButton{
	vertical-align:top;
}

.chat-buttonGroup{
	vertical-align:bottom;
}

.connecting {
    padding-top: 5px;
    text-align: center;
    color: #777;
    position: absolute;
    top: 65px;
    width: 100%;
}

.fileButton{
	display:none !important;
	float:right;
	
}

.fileButtonLabel{
	float:right;
	display:inline;
}

.scroll-bar::-webkit-scrollbar-track
{
	background-color: #F5F5F5;
	border-color: #ccc;
}

.scroll-bar::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
	border-color: #ccc;
}

.scroll-bar::-webkit-scrollbar-thumb
{
	border-radius: 4px;
	background-color: #337ab7;
}

 

